* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 10px;
}

:root {
  --beige: beige;
  --celeste-claro: #92d2ee;
  --rojo-amor: #db5d4f;
  --amarillo-alegria: #f9d85e;
  --verde-alegria: rgb(128, 247, 117);
}
